@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: local("Open Sans Light"), local("OpenSans-Light"), url("http://themes.googleusercontent.com/static/fonts/opensans/v8/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff") format("woff");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url("http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff") format("woff");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("http://themes.googleusercontent.com/static/fonts/opensans/v8/MTP_ySUJH_bn48VBG8sNSqRDOzjiPcYnFooOUGCOsRk.woff") format("woff");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url("http://themes.googleusercontent.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff") format("woff");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 800;
    src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url("http://themes.googleusercontent.com/static/fonts/opensans/v8/EInbV5DfGHOiMmvb1Xr-hqRDOzjiPcYnFooOUGCOsRk.woff") format("woff");
}

html {
  font-size: 10px;
}

body {
  font-family: Open Sans,Helvetica Neue,Helvetica,Arial;
  margin: 0;
  padding: 0;
  background:url("images/background.png") repeat scroll 0 0 #F1F0ED;
  overflow: hidden;
}

body.fallback {
  background:url("images/background_tablet.png") repeat scroll 0 0 #F1F0ED;
}

body a {
  text-decoration: none;
}

body ul, body li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  background: #96E9EE;
  border-bottom: 0.2rem solid black;
  padding: 1rem 0;
  color: #333;
  font-size: 2.2rem;
  font-weight: bold;
}

#logo {
  width: 10rem;
  height: 3.3rem;
  float: left;
  background: url("images/logo.png") no-repeat 0.5rem 0;
  margin-right: 1rem;
}

#sharing {
  font-size: 1.6rem;
  float: right;
}

#sharing li {
  float: left;
  margin-right: 0.8rem;
}

#sharing span {
  padding-left: 0.5rem;
}

#sharing a {
  font-weight: bold;
  color: #666;
}


#info {
  font-size: 2rem;
  padding: 1rem 2rem;
  position: absolute;
  border-radius: 0.3rem;
  top: 18rem;
  background: rgba(33, 33, 33, 0.9);
  color: white;
}

#call-for-action {
  font-size: 2rem;
  position: absolute;
  top: 49.3rem;
  left: 4rem;
}


#call-for-action li {
  float: left;
  margin: 0 3rem;
  width: 27rem;
  border: 1px solid #000000;
}

#call-for-action li a {
  text-align: center;
  color: #333;
  display: block;
}

#call-for-action li a:hover, .fallback #call-for-action li a {
  background: black;
  color: #96E9EE;
}

.fallback #photos {
  display: none;
}

#photos {
  position: absolute;
  width: 60%;
  min-width: 75rem;
  top: 0; 
  bottom: -10%;
  right: -10%;
  transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
}

#photos img {
  position: absolute;
  border: none;
  transition: transform .3s, opacity .3s;
  -webkit-transition: -webkit-transform .3s, opacity .3s;
  -o-transition: -o-transform .3s, opacity .3s;
}

#photos img:hover {
  opacity: 1!important;
  transform: scale(1.8) rotate(-10deg);
  -webkit-transform: scale(1.8) rotate(-10deg);
  -moz-transform: scale(1.8) rotate(-10deg);
  -ms-transform: scale(1.8) rotate(-10deg);
  -o-transform: scale(1.8) rotate(-10deg);
  z-index: 2;
}

#archives {
  position: absolute;
  top: 60rem;
  left: 1rem;
  color: black;
  font-size: 1.6rem;
  color: #96E9EE;
}

#archives a {
  color: #96E9EE;
  font-weight: bold;
}

#archives a:hover {
  color: #3DA550;
}

@media screen and (min-device-width: 1100px), screen and (min-width: 1100px) {
  #sharing {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
  }
}

@media screen and (max-device-width: 710px), screen and (max-width: 710px) {
  #call-for-action {
    font-size: 2rem;
    left: 2rem;
  }
  #call-for-action li {
    margin: 0 1rem;
    width: 23rem;
  }
}

@media screen and (max-device-width: 533px), screen and (max-width: 533px) {
  body.fallback {
    background:url("images/background_phone.png") repeat scroll 0 0 #F1F0ED;
  }

  .header {
    height: 3rem;
  }

  .header span {
    display: none;
  }

  #sharing {
    position: absolute;
    right: 1rem;
    top: 1.5rem;
  }

  #sharing span {
    display: none;
  }

  #info {
    top: 10rem;
  }

  #call-for-action {
    left: 0rem;
    top: 27rem;
    width: calc(100%);
    min-width: 32rem;
  }

  #call-for-action li {
    margin: 1rem auto;
    float: none;
    line-height: 4rem;
  }
  #archives {
    top: 40rem;
  }
}
