html {
  font-size: 10px;
  background: #CCE9EB;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Open Sans,Helvetica Neue,Helvetica,Arial;
  width: 100%;
  background: #F0EFED;
 
}
.cover {
  width: 100%;
  height: 250px;
}
@media screen and (min-width: 400px){
  .cover {
    width: calc(100% - 240px);
    margin-top: 70px;
    background: url("images/cover.png") no-repeat 0 0px;
    height: 300px
  }
  
  #sponsors {
    text-align: center;
    width: 180px;
    margin: 0 auto;
    font-size: 20px;
    position: absolute;
    top: 180px;
    right: 20px;
  }
  
  #sponsors h1{
    padding: 10px;
    font-size: 1em;
    background: #BEBCBD;
  }
  
  #sponsors section h1{
    background: #DDD;
  }
}

body a {
  text-decoration: none;
}

body img { 
  border: none; 
}

body ul, body li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 80px;
  padding: 20px 5px;
  background: #8BCDD1;
  
  color: white;
  font-size: 22px;
  font-size: 2.2rem;
  font-weight: bold;
  
}

.header #slogan:before{
  content: ' - ';
}
#logo {
  width: 100px;
  width: 10rem;
  height: 33px;
  height: 3.3rem;
  float: left;
  background: url("images/logo.png") no-repeat 5px 0;
  margin-right: 10px;
  margin-right: 1rem;
}
#sharing {
  font-size: 16px;
  font-size: 1.6rem;
  float: right;
  margin-top: 10px;
  margin-top: 1rem;
}

#sharing li {
  float: left;
  margin-right: 8px;
  margin-right: 0.8rem;
}

#sharing span {
  padding-left: 5px;
  padding-left: 0.5rem;
}

#sharing a {
  font-weight: bold;
  color: #666;
}
#info {
  font-family: monospace;
  font-size: 20px;
  font-size: 2rem;
  /*background: #8BCDD1;*/
  background: #B8E0E3;
  padding: 6px 20px;
}

#promote {
  font-size: 18px;
  font-size: 1.8rem;
  position: absolute;
  top: 463px;
  top: 46.3rem;
  left: 40px;
  left: 4rem;
  color: red;
}

#promote:before {
  content: '*';
}
.content {
  margin-bottom: 100px;
}


#call-for-action {
  font-size: 18px;
  font-size: 1.8rem;
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 400px){
  #call-for-action {
      padding-top: 30px;
      padding-left: 40px;

  }
  #call-for-action li {
    display: inline-block;
  }
}
#call-for-action li {
  margin: 15px;
  width: 240px;
  padding: 3px;
  border: 1px solid #3D5B5D;
}
#call-for-action li:hover {
  border-color: #8BCDD1;
  background: #8BCDD1;

  
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

}
#call-for-action li a {
  text-align: center;
  color: #3D5B5D;
  display: block;
  padding: 8px 20px;

  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

#call-for-action li a:hover {
  color: white;
}

.fallback #photos {
  display: none;
}

#photos {
  position: absolute;
  width: 60%;
  min-width: 750px;
  min-width: 75rem;
  top: 0; 
  bottom: -10%;
  right: -10%;
  pointer-events: none;
  transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
}

#photos a {
  pointer-events: auto;
}

#photos img {
  position: absolute;
  border: none;
  transition: transform .3s, opacity .3s;
  -webkit-transition: -webkit-transform .3s, opacity .3s;
  -o-transition: -o-transform .3s, opacity .3s;
}

#photos img:hover {
  opacity: 1!important;
  transform: scale(1.8) rotate(-10deg);
  -webkit-transform: scale(1.8) rotate(-10deg);
  -moz-transform: scale(1.8) rotate(-10deg);
  -ms-transform: scale(1.8) rotate(-10deg);
  -o-transform: scale(1.8) rotate(-10deg);
  z-index: 2;
}

#archives {
  /*position: absolute;
  bottom: 50px;
  left: 40px;*/
  margin: 10px 40px;
  color: black;
  font-size: 16px;
  font-size: 1.6rem;
  color: #527F82;
}

#archives a {
  color: #527F82;
  font-weight: bold;
}

#archives a:hover {
  color: #3DA550;
}

#languages {
  /*position: absolute;
  bottom: 10px;
  left: 40px;*/
  margin-left: 40px;
  color: black;
  font-size: 16px;
  font-size: 1.6rem;
}

#languages a {
  cursor: pointer;
  font-weight: bold;
}

#languages a:hover {
  color: #3DA550;
}

@media screen and (max-device-width: 931px){
  .cover {
    width: 100%;
  }
  
  #sponsors {
    position: relative;
    top: auto;
    right: auto;
  }
}

@media screen and (max-device-width: 768px), screen and (max-width: 768px) {
  .cover {
    background: url("images/cover-mobile.png") no-repeat 0 0;
  }
  #promote {
    font-size: 16px;
    font-size: 1.6rem;
    left: 20px;
    left: 2rem;
  }

  #call-for-action {
    font-size: 16px;
    font-size: 1.6rem;
    left: 20px;
    left: 2rem;
  }

  #call-for-action li {
    margin: 10px;
    margin: 1rem;
    width: 190px;
    width: 19rem;
  }
}

@media screen and (max-device-width: 533px), screen and (max-width: 533px) {
  .cover {
    background: url("images/background_phone.png") no-repeat 0 0;
    background-size: 100% auto;
  }
  .header {
    height: 50px;
    padding: 12px 5px;
  }
  .header span {
    display: none;
  }

  #info {
    top: 50px;
    top: 5rem;
    font-size: 16px;
    line-height: 1.4;
  }

  #promote {
    left: 15px;
    left: 1.5rem;
    top: 150px;
    top: 15rem;
  }

  #call-for-action {
    left: 0;
    top: 280px;
    top: 28rem;
    width: calc(100%);
    font-size: 20px;
  }

  #call-for-action li {
    margin: 10px auto;
    margin: 1rem auto;
    border: 1px solid rgb(200,200,200);
    padding: 8px 0px;
  }
  
  #sponsors {
    text-align: center;
    width: 180px;
    margin: 0 auto;
    font-size: 20px;
  }
  
  #sponsors h1{
    padding: 10px;
    font-size: 1em;
    background: #BEBCBD;
  }
  
  #sponsors section h1{
    background: #DDD;
  }
  
  #call-for-action li {
    width: 180px;
  }
}
.content {
  min-height: 100px;
}
.first-seperator {
  display: none;
}
#footer {
  background: #CCE9EB;
  padding: 10px 0 20px 0;

}
@media screen and (min-width: 400px){
  .content {
      min-height: 500px;
  }
  #footer {
      padding: 10px 0 0 0 ;
  }
}

#archives a {
  display: inline-block;
  padding: 2px 0px;
}


