html {
  font-size: 10px;
}

body {
  font-family: Open Sans,Helvetica Neue,Helvetica,Arial;
  margin: 0;
  padding: 0;
  background:url("images/background.png") repeat scroll 0 0 #F1F0ED;
  overflow: hidden;
}

body.fallback {
  background:url("images/background_tablet.png") repeat scroll 0 0 #F1F0ED;
}

body a {
  text-decoration: none;
}

body img { 
  border: none; 
}

body ul, body li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  background: #96E9EE;
  border-bottom: 2px solid black;
  padding: 10px 0;
  padding: 1rem 0;
  color: #333;
  font-size: 22px;
  font-size: 2.2rem;
  font-weight: bold;
}

.header #slogan:before{
  content: ' - ';
}

#logo {
  width: 100px;
  width: 10rem;
  height: 33px;
  height: 3.3rem;
  float: left;
  background: url("images/logo.png") no-repeat 5px 0;
  margin-right: 10px;
  margin-right: 1rem;
}

#sharing {
  font-size: 16px;
  font-size: 1.6rem;
  float: right;
  margin-top: 10px;
  margin-top: 1rem;
}

#sharing li {
  float: left;
  margin-right: 8px;
  margin-right: 0.8rem;
}

#sharing span {
  padding-left: 5px;
  padding-left: 0.5rem;
}

#sharing a {
  font-weight: bold;
  color: #666;
}


#info {
  font-family: monospace;
  font-size: 20px;
  font-size: 2rem;
  padding: 10px 20px;
  padding: 1rem 2rem;
  position: absolute;
  border-radius: 3px;
  top: 185px;
  top: 18.5rem;
  background: #333;
  background: rgba(33, 33, 33, 0.9);
  color: white;
}

#call-for-action {
  font-size: 20px;
  font-size: 2rem;
  position: absolute;
  top: 493px;
  top: 49.3rem;
  left: 40px;
  left: 4rem;
}


#call-for-action li {
  float: left;
  margin: 0 30px;
  margin: 0 3rem;
  width: 270px;
  width: 27rem;
  border: 1px solid #000000;
}

#call-for-action li a {
  text-align: center;
  color: #333;
  display: block;
}

#call-for-action li a:hover, .fallback #call-for-action li a {
  background: black;
  color: #96E9EE;
}

.fallback #photos {
  display: none;
}

#photos {
  position: absolute;
  width: 60%;
  min-width: 750px;
  min-width: 75rem;
  top: 0; 
  bottom: -10%;
  right: -10%;
  pointer-events: none;
  transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
}

#photos a {
  pointer-events: auto;
}

#photos img {
  position: absolute;
  border: none;
  transition: transform .3s, opacity .3s;
  -webkit-transition: -webkit-transform .3s, opacity .3s;
  -o-transition: -o-transform .3s, opacity .3s;
}

#photos img:hover {
  opacity: 1!important;
  transform: scale(1.8) rotate(-10deg);
  -webkit-transform: scale(1.8) rotate(-10deg);
  -moz-transform: scale(1.8) rotate(-10deg);
  -ms-transform: scale(1.8) rotate(-10deg);
  -o-transform: scale(1.8) rotate(-10deg);
  z-index: 2;
}

#archives {
  position: absolute;
  top: 600px;
  top: 60rem;
  left: 10px;
  left: 1rem;
  color: black;
  font-size: 16px;
  font-size: 1.6rem;
  color: #96E9EE;
}

#archives a {
  color: #96E9EE;
  font-weight: bold;
}

#archives a:hover {
  color: #3DA550;
}

@media screen and (max-device-width: 710px), screen and (max-width: 710px) {
  #call-for-action {
    font-size: 20px;
    font-size: 2rem;
    left: 20px;
    left: 2rem;
  }

  #call-for-action li {
    margin: 0 10px;
    margin: 0 1rem;
    width: 230px;
    width: 23rem;
  }
}

@media screen and (max-device-width: 533px), screen and (max-width: 533px) {
  body.fallback {
    background:url("images/background_phone.png") repeat scroll 0 0 #F1F0ED;
  }

  .header {
    height: 30px;
    height: 3rem;
  }

  .header span {
    display: none;
  }

  #info {
    top: 50px;
    top: 5rem;
  }

  #call-for-action {
    left: 0;
    top: 190px;
    top: 19rem;
    width: calc(100%);
    min-width: 320px;
    min-width: 32rem;
  }

  #call-for-action li {
    margin: 10px auto;
    margin: 1rem auto;
    float: none;
    line-height: 40px;
    line-height: 4rem;
  }

  #archives {
    top: 400px;
    top: 40rem;
  }
}
